<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lixianyuan.mapper.custom.PhotoCustomMapper">

	<!-- 分页条件 currentPage:当前页页号，currentCount每页显示的记录数 -->
	<sql id="limit_page">
		<!-- test中的currentPage的条件多写一个就会出错，只写一个就不会，有点奇怪 -->
		<if test="currentPage!=null">
			LIMIT #{currentPage},#{currentCount}
		</if>
	</sql>
	
	<!-- 查询条件,将sql片段抽取出来 -->
	<sql id="sql_where_phote">
		<if test="photoId!=null and photoId!='' ">
			and photo.photoId = #{photoId}
		</if>
		<if test="title!=null and title!='' ">
			and photo.title like '%${title}%'
		</if>
		<if test="photoUrl!=null and photoUrl!='' ">
			and photo.photoUrl = #{photoUrl}
		</if>
	</sql>
	
	<!-- 查询符合条件的照片 -->
	<select id="findAllPhotoByCondition" parameterType="map" resultType="lixianyuan.bean.Photo">
		SELECT * FROM photo
		<where>
			<include refid="sql_where_phote"></include>
		</where>
		order by title asc
		<include refid="limit_page"></include>
	</select>
	
	<!-- 查询符合条件的照片的数量 -->
	<select id="findAllPhotoCountByCondition" parameterType="map" resultType="lixianyuan.bean.Photo">
		SELECT count(*) FROM photo
		<where>
			<include refid="sql_where_phote"></include>
		</where>
	</select>
	
	
	
</mapper>