@charset "utf-8";
#footer {
	height: 35px;
	line-height: 40px;
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
	background: #ccf5f7;
	color: black;
	font-family: Arial;
	font-size: 12px;
	letter-spacing: 1px;
}
