@charset "utf-8";
* {
	margin: 0;
	padding: 0
}


body {
	font-family: Arial, Helvetica, sans-serif;
	color: #3F3E3C;
	line-height: 1.5;
	font-size: 12px;	
	
	background-image: url(../images/indexbgm1.jpg);
	background-repeat:no-repeat;  
	background-size:cover;
}

img {
	border: 0
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* header */
header {
	width: 980px;
	margin: 0 auto;
	position: relative;
	z-index: 1000;
	height: 100px;
}

/*标题部分*/
#topnav {
	width: 95%;
	background: #0099CC;
	height: 46px;
	line-height: 46px;
	text-align: center;
	border-radius: 46px;
	position: relative;
}

#topnav a {
	display: inline-block;
	font-size: 18px;
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
	padding: 0 20px;
}

#topnav a:hover {
	background: #fff;
	color: #000;
}

#topnav a {
	color: #FFF
}
/*标题部分结束*/

<!--让图像向左侧浮动-->
#logo {
	width: 20%;
	height: 50px;
	float: left; 
	margin: 25px 0 0 0;
	padding: 0;
}

#logo img {
	float: left;
	margin-right: 10px;
	transition: All 1s ease;
	-webkit-transition: All 1s ease;
	-moz-transition: All 1s ease;
	-o-transition: All 1s ease;
}

#logo img:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
}
<!--让图像向左侧浮动结束-->
