#footer {
	height: 35px;
	line-height: 40px;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background: #ccf5f7;
	color: green;
	font-family: Arial;
	font-size: 12px;
	letter-spacing: 1px;
}
	
* {
	margin: 0;
	padding: 0
}

body {
	font: 12px/1.5 'Microsoft Yahei', 'Simsun';
	color: #666666;
	background: #fff;
	/* 设置背景图片 */
	background-image: url(/lixianyuan/images/xysy/otherBGP.jpg);
	background-repeat:no-repeat;  
	background-size:cover;
}

img {
	border: 0;
	display: block
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

a {
	outline: none;
}

a:link, a:visited {
	text-decoration: none;
	color: #666
}

a:hover {
	text-decoration: none;
}

.clear {
	clear: both;
}

.blank {
	height: 5px;
	overflow: hidden;
	width: 100%;
	margin: auto;
	clear: both
}



.f_r {
	float: left;
}

.l_box {
	width: 670px;
}

.r_box {
	width: 300px;
}
/* 头部信息 */
header {
	width: 1000px;
	margin: 20px auto;
	overflow: hidden;
	clear: both;
}

#topnav {
	width: 150px;
	background: #48AE15;
	height: 46px;
	line-height: 46px;
	text-align: center;
	border-radius: 46px;
}

#topnav a {
	display: inline-block;
	font-size: 18px;
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
	padding: 0 20px;
}

#topnav a:hover {
	background: #fff;
	color: #000;
}

#topnav a {
	color: #FFF
}

#topnav_current {
	background: #F3FF41;
} /* 高亮选中颜色 */
a#topnav_current {
	color: #000
}

article {
	width: 1000px;
	margin: 20px auto;
}
/*footer*/
#footer {
	position:fixed;
	bottom:0;
	background: #333;
	width: 100%;
	clear: both;
	text-align: center;
}

.ft-copyright {
	color: #fff;
	line-height: 24px;
}



/*左文章列表*/
.topnews {
	margin: 20px 0;
}

.topnews h2 {
	font-size: 16px;
	font-weight: bold;
	line-height: 36px;
	color: #333;
	border-bottom: #db6d4c 4px solid;
}

.topnews h2 b {
	
}

.topnews h2 span {
	float: right;
	font-size: 12px;
	font-weight: normal;
}

.topnews h2 span a {
	display: inline-block;
	padding: 0 5px;
}

.topnews h2 span a:hover {
	color: #000
}

.blogs {
	padding: 30px 0;
	position: relative;
	border-bottom: #CCC 1px solid;
	overflow: hidden
}

.blogs h3 {
	font-size: 16px;
	font-weight: bold;
	transition: all .5s;
	margin-bottom: 10px
}

.blogs h3 a {
	color: #474645;
}

.blogs h3 a:hover {
	color: #066;
	text-decoration: underline
}

.blogs figure {
	float: left;
	width: 25%;
	overflow: hidden;
}

.blogs figure img {
	width: 100%;
	margin: auto;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.blogs figure:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

.blogs ul {
	float: right;
	line-height: 22px;
	width: 72%;
	color: #756F71;
}

.autor {
	overflow: hidden;
	clear: both;
	margin: 10px 0;
	display: inline-block;
	color: #838383;
	width: 100%;
}

.autor span {
	margin: 0 10px 0 0;
	padding-left: 20px
}

.autor span a {
	color: #759b08;
}

.autor span a:hover {
	text-decoration: underline
}

.tit01 h3 {
	line-height: 40px;
	color: #38485A;
	font-size: 18px;
	border-bottom: 1px solid #E6E6E6;
	height: 40px
}
/* 关注我样式 */
.gzwm ul {
	width: 100%;
	margin: 30px 0;
	overflow: hidden
}

.gzwm li {
	width: 52px;
	margin: 0 18px 0 5px;
	float: left;
}

.gzwm li a {
	color: #747F8C;
	width: 52px;
	text-align: center;
	padding-top: 60px;
	float: left;
}

.gzwm .rss {
	background: url(/lixianyuan/images/xysy/ico_04_1.jpg) no-repeat scroll 0% 0%
		transparent;
}

.gzwm .rss:hover {
	color: #000;
	background: url(/lixianyuan/images/xysy/ico_04.png) no-repeat scroll 0% 0% transparent;
}

.gzwm .xlwb {
	background: url(/lixianyuan/images/xysy/ico_05_1.jpg) no-repeat scroll 0% 0%
		transparent;
}

.gzwm .xlwb:hover {
	color: #000;
	background: url(../images/xysy/ico_05.png) no-repeat scroll 0% 0% transparent;
}

.gzwm .txwb {
	background: url(/lixianyuan/images/xysy/ico_06_1.jpg) no-repeat scroll 0% 0%
		transparent;
}

.gzwm .txwb:hover {
	color: #000;
	background: url(/lixianyuan/images/xysy/ico_06.png) no-repeat scroll 0% 0% transparent;
}

.gzwm .wx {
	background: url(/lixianyuan/images/xysy/ico_07_1.jpg) no-repeat scroll 0% 0%
		transparent;
}

.gzwm .wx:hover {
	color: #000;
	background: url(/lixianyuan/images/xysy/ico_07.png) no-repeat scroll 0% 0% transparent;
}
	