<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lixianyuan.mapper.custom.CasualnoteCustomMapper" >
  	
  	<!-- 分页条件 currentPage:当前页页号，currentCount每页显示的记录数 -->
	<sql id="limit_page">
		<!-- test中的currentPage的条件多写一个就会出错，只写一个就不会，有点奇怪 -->
		<if test="currentPage!=null">
			LIMIT #{currentPage},#{currentCount}
		</if>
	</sql>
	
	<sql id="sql_where_casualnote">
		<if test="casualNoteId!=null and casualNoteId!=''">
			and casualnote.casualNoteId = #{casualNoteId}
		</if>
		<if test="title!=null and title!='' ">
			and casualnote.title like '%${title}%'
		</if>
		<if test="author!=null and author!=''">
			and casualnote.author like '%${author}%'
		</if>
		<if test="content!=null and content!=''">
			and casualnote.content like '%${content}%'
		</if>
	</sql>
	
	<!-- 根据条件查询出所有的随笔 -->
	<select id="findAllCasualNoteByCondition" parameterType="map" resultType="lixianyuan.bean.Casualnote">
		SELECT * FROM casualnote
		<where>
			<include refid="sql_where_casualnote"></include>
		</where>
		order by title asc
		<include refid="limit_page"></include>
	</select>
	
	<!-- 根据条件查询出所有的随笔总条数 -->
	<select id="findAllCasualNoteCountByCondition" parameterType="map" resultType="int">
		SELECT count(*) FROM casualnote
		<where>
			<include refid="sql_where_casualnote"></include>
		</where>
	</select>
	
	
</mapper>